<html lang="en">
<head>
    <meta charset="utf-8">

    <title>INSERT SITE TITLE HERE</title>
    <meta name="description" content="INSERT SITE DESCRIPTION HERE">
    <meta name="author" content="INSERT CONTENT HERE">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

                <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
                    <![endif]-->

                    <!-- Bootstrap stuff -->
                    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

                    <!-- Latest compiled JavaScript, JQuery and Popper.js -->

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

                    <!-- So it works on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js"></script>


                    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('views.static', filename='js/index.js') }}"></script>

</head>
<body>
    <!-- Standard container so you don't forget -->
    <div class="jumbotron jumbotron-fluid bg-secondary">
        <div class="container">
            <h1 class="text-white">Hello World</h1>
        </div>
    </div>
    <div class="container">
        <div class="login-div d-flex justify-content-center p-3 mb-5  rounded border border-dark" >
            <form id="login-form" class='form'>
                Name:
                <input name="name"  class='form-control'>
                Age:
                <input type='number' name="age" class='form-control'>
                Qualification:
                <input name="qualification" class='form-control'>
                <input type='submit' value='SAVE' class='btn btn-outline-info'>
            </form>
        </div>
    <div id="log" class="alert"></div>
    </div>
</body>

</html>